#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.first{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.second{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.tabla{
  background-color: rgb(47, 206, 255);
  border-radius: 5px;
}

.planilla{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: end;
}

.third{
  color: white;
  font-weight: 800;
}